<header>
    <div class="container">
        <div class="logo__container">
            <div class="logo__image">
                <img src="https://raw.githubusercontent.com/ayushi-raghuwanshi/ecommerce-project/master/public/admin/assets/img/logo.png"
                    alt="E-Shop"
                    srcset="https://raw.githubusercontent.com/ayushi-raghuwanshi/ecommerce-project/master/public/admin/assets/img/logo.png" />
            </div>
        </div>
        <div class="menu__container">
            <div class="menu">
                <ul>
                    <li class="active">
                        <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
                    </li>
                    <li>
                        <a routerLink="/category" routerLinkActive="active" ariaCurrentWhenActive="page">Woman's</a>
                    </li>
                    <li>
                        <a routerLink="/category" routerLinkActive="active" ariaCurrentWhenActive="page">Men's</a>
                    </li>
                    <li>
                        <a routerLink="/category" routerLinkActive="active" ariaCurrentWhenActive="page">Shop</a>
                    </li>
                    <li>
                        <a routerLink="/category" routerLinkActive="active" ariaCurrentWhenActive="page">Blog</a>
                    </li>
                    <li>
                        <a routerLink="/category" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="icon__container">
            <div class="user__icon">
                <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page" class="after">Login</a>
                <a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">Register</a>
            </div>
            <ul>
                <li>
                    <a href=""><i class="ri-search-line"></i></a>
                </li>
                <li>
                    <a routerLink="/wishlist" routerLinkActive="active" ariaCurrentWhenActive="page"><i
                            class="ri-heart-line"></i></a>
                </li>
                <li>
                    <a routerLink="/cart" routerLinkActive="active" ariaCurrentWhenActive="page"><i
                            class="ri-shopping-cart-line"></i></a>
                </li>
            </ul>
        </div>
    </div>
</header>
