<section class="category">
    <div class="row">
        <div class="col-6">
            <div class="background-image">
                <div class="text">

                  <h1>Women’s fashion</h1>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error odio adipisci corrupti ab ipsa nostrum
                    accusamus. Sint nam fugit amet accusamus aperiam dolorem debitis, qui expedita porro laudantium,
                    excepturi necessitatibus?</p>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="background-image">
                <h1>Hello</h1>
            </div>
        </div>
        <div class="col-3">
            <div class="background-image">
                <h1>Hello</h1>
            </div>
        </div>
    </div>
</section>
