<footer>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="logo">
          <a href="">
            <h1>E-Shop</h1>
          </a>
        </div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos
          eligendi ad reprehenderit, impedit.
        </p>
      </div>
      <div class="col-1">
        <h3>Quick Links</h3>
        <ul>
          <li><a href="">About</a></li>
          <li><a href="">Blog</a></li>
          <li><a href="">Contact</a></li>
          <li><a href="">FAQs</a></li>
        </ul>
      </div>
      <div class="col-1">
        <h3>Account</h3>
        <ul>
          <li><a href="">My Account</a></li>
          <li><a href="">Order Tracking</a></li>
          <li><a href="">Checkout</a></li>
          <li><a href="">Wishlist</a></li>
        </ul>
      </div>
      <div class="col">
        <h3>Newsletter</h3>
        <div class="form-input">
          <input type="email" name="email" id="email" placeholder="Email"/>
          <button >Subscribe</button>
        </div>
      </div>
    </div>
    <div class="row bottom">
      <div class="bottom-footer">
        <p>
          Copyright © 2022 All rights reserved | Made by<a href=""> Akhilh2o</a>
        </p>
      </div>
    </div>
  </div>
</footer>
